html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #F8F7F6;
}
.App{
  height: 140vh;
  width: 100vw;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #182754;

}

#title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
}

#TotalAmount{
  margin-top: 40px;
}

